* {margin: 0; padding: 0; box-sizing: border-box; }
html {padding: 0.25in}
article {display: table; table-layout: fixed; width: 8in; font-family: sans-serif; }
article > div {display: table-row; }
article > div > div {padding: 0.25in; display: table-cell; border: 1px dashed #000; position: relative; height: 3in; }
article > div:first-child > div {border-top: 0 none; padding-top: 0; }
article > div:last-child > div {border-bottom: 0 none; padding-bottom: 0; }
article > div > div:first-child {border-left: 0 none; padding-left: 0; }
article > div > div:last-child {border-right: 0 none; padding-right: 0; }

table {margin: 1em; border-collapse: collapse; }
thead td {background: #eee; }
td {padding-top: 2px; text-align: center; }
td.signature {padding: 0 1.5em; border-bottom: 1px solid #000; }

dl {margin: 1em; overflow: auto; }
dt {float: left; clear: left; width: 1em; text-align: center; font-size: 20px; }
dd { padding: 0 1em; float: left; width: 8em; font-family: monospace; font-size: 18px; }
dd span.signature {margin-left: 1em; padding-left: 3em; border-bottom: 1px solid #000; }

h2 {font-size: 16px; position: relative; }
h2 span {font-size: 12px; position: absolute; bottom: 0; right: 0; }
h3 {font-size: 12px; position: absolute; top: 1em; text-align: right; width: 95%;  }
h4 {font-size: 12px; }
h5 {font-size: 10px; }
p, li {margin: 0.4em 0; font-size: 10px; line-height: 1em; }
ul, ol {margin: 0.5em; padding: 0 0 0 0.5em; }

.blank {margin-top: 2em; padding-top: 0.2em; border-top: 1px solid #000; }
span {font-size: 14px; }
div.prereq {position: absolute; bottom: 0.5em; }

@media print {
    html {padding: 0; }
    h2 {font-size: 12pt; }
    h3 {font-size: 10pt; }
    h4 {font-size: 10pt; }
    h5 {font-size: 8pt; }
    p, li {font-size: 8pt; }
    dt {font-size: 12pt; }
    dd {font-size: 16px; }
    span {font-size: 11pt; }
}

